@import "components/colors";
@import "components/reset";
@import "components/burguer";
@import "components/mobile";
@import "components/desktop";
@import "components/slider";




/*Landing page*/
header {
    border-top: 5px solid $violet;
}
span.gifos {
    color:$cyan;
}
div.image-container img{
    margin: 10% auto 0;
    margin-top: 70px;
    width: 273px;
    height: 130px;
    display:block;
}
div.search-box .icon {
    margin: 15px;
    position: relative; 
    color:$violet;
    float: right;
    width:20px;
    height: 20px;
}
div.search-box #search {
    font-size: 16px;
    color:$black;
    margin-top: 15px;
    margin-left: 60px;
    color: $grey;
}
main .start div h2 { 
    width: 236px;
    margin: 0 auto;
    margin-top: 60px;
    text-align:center;
    color: $violet
}
/*favoritos && mis GIFOS*/
.little-img {
    padding-top: 60px;
}
.img-little {
    display: flex;
    position: relative;
    margin: 0 auto;
}
h1 {
    text: {
    align: center;
    }
    color:$violet; 
    padding-top: 15px;
}