@media screen and (min-width: 1000px) {
section div.first-header {
    margin:0 auto;
    text-align: center;
    width: 550px;
    height: 100px;
    display: block;
    color: $violet;
    font-size: 25px;
    }
    div.search-box {
        margin-left: auto;
        margin-right: auto;
        top: 367px;
        border: 1px $violet solid;
        max-width: 551px;
        height: 50px;
        border-radius: 27px;
        & #search {
            width:400px;
            color: $grey;
        }
    }
    p {
        width:320px;
        margin: 0 auto;
        color:$violet;
        text-align:center;
    }
    footer {
        top: 0px;
        display: flex;
        height: 116px;
        position: relative;
        border-bottom: 5px solid $violet;
            p:first-child {
                position:relative;
                left: 50px;
                color:$black;
                width:150px;
                margin: auto 0 auto auto;
            }
            .social {
                position: relative;
                left: 50px;
                top: 0px;
                display: flex;
                margin: auto 0;
                padding : 0;
                justify-content : space-between;
                a { 
                    margin: 0 10px;
                    color: $grey;
                }
            }
            p:last-child {
                margin: auto auto ;
                width:300px;
                top: 0px;
                color: $black;
                position: relative;
                }
            }
}
